@import "../colors";
@import "../borders";

.alert {
  width: 100%;

  @extend .border;
  @extend .fa-justify;
  @extend .border-radius-2;
  padding: .65rem 1.25rem;
}

@include eachColor() using($name, $color) {
  .alert-#{$name} {
    @extend .alert;
    border: 1.5px solid $color;

    background-color: transparentize(lighten($color, 15), .75);
    color: $color;

    code, pre, p, h1, h2, h3, h4, h5, h6 {
      color: $color;
    }
  }
}