@import "../colors";
@import "../font";
@import "../spacing";
@import "../borders";

@include eachColor() using($name, $color) {
  .badge-#{$name} {
    display: inline-block;
    margin: 0 .5rem;
    font-size: calc(100% - .325rem);
    @extend .border-radius-2;
    padding: .165rem .5rem;

    color: $color;

    @if (lighter(#{$name}, true) != null) {
      background-color: transparentize(lighten($color, 15), .75);
    }

    border: 1px solid darker(#{$name}, true);
  }
}