@import "../colors";
@import "../font";

.card {
  position: relative;
  max-width: 25rem;
  overflow: hidden;
  border-radius: 8px;

  @extend .px-3;
  @extend .px-lg-4;

  @extend .py-2;
  @extend .py-lg-3;

  @extend .bg-white-darker;

  .card__image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    @extend .mb-2;
    @extend .mb-lg-3;
  }

  .card__content {

    .card__title {
      @extend .heading;
      @extend .fsi-regular;
      margin-bottom: 2px;
    }

    .card__description {
      @extend .fa-justify;
      @extend .fsi-small;
      @extend .fc-dark-lighter;
    }

    hr {
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      opacity: .45;

      @extend .mt-3;
      @extend .mt-lg-5;
      @extend .mb-2;
      @extend .mb-lg-3;

      width: 85%;
    }
  }

  .card__links {
    @extend .fc-main;
    text-decoration: underline;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.card.card__dark, .card__dark {
  @extend .fc-dark;
}