@import "../colors";
@import "../font";

.card {
  max-width: 22.5rem;

  .card__image {

  }

  .card__content {

    .card__title {
      @extend .heading;
      @extend .heading-large;

      @extend .mb-4;
    }

    .card__description {
      @extend .fa-justify;
    }

    hr {
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      opacity: .325;

      @extend .mt-4;
      @extend .mb-2;

      width: 80%;
    }
  }

  .card__links {
    @extend .link;
    @extend .fc-main;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.card.card__dark, .card__dark {
  @extend .fc-dark;
}