@import "../colors";

.progress {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: .2rem 0;
  width: 100%;
}

.progress .progress_step {
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative;
  text-align: center;
}

.progress .progress_step:not(:first-child)::before {
  background: map-get($main, "main");
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 8px;
  width: 100%;
}

.progress .progress_step a {
  color: map-get($main, "main");
  display: inline-block;
  padding: 20px 20px 7px;
  text-decoration: none;
  transition-duration: .25s;
}

.progress .progress_step a:hover {
  background-color: transparentize(map-get($main, "main-lightest"), .75);
  border-radius: 3px;
}

.progress .progress_step a::before {
  background: map-get($main, "main");
  border: .175rem solid map-get($main, "main-lightest");
  border-radius: 50%;
  content: "";
  display: block;
  height: .825rem;
  width: .825rem;
  left: 50%;
  position: absolute;
  top: .2rem;
  transform: translateX(-50%);
  z-index: 1;
}

.progress .progress_step.active a {
  color: map-get($main, "main-dark");
}

.progress .progress_step.active a::before {
  background: #fff;
  border: .175rem solid map-get($main, "main-dark");
}

.progress .progress_step.active ~ .progress_step::before {
  background: #dadee4;
}

.progress .progress_step.active ~ .progress_step a {
  color: #bcc3ce;
}

.progress .progress_step.active ~ .progress_step a::before {
  background: #dadee4;
}