@import "breakpoints";

@each $name, $breakpoint in $breakpoints {
  .container-#{$name} {
    margin: auto;
    max-width: $breakpoint;
  }

  @include media-breakpoint-down($name) {
    .container-#{$name} {
      max-width: 95%;
    }
  }
}