$directions: (
        column,
        column-reverse,
        row,
        row-reverse
);

@each $direction, $value in $directions {
  .flex-d-#{$direction} {
    flex-direction: $value;
  }
}


$justifies: (
        space-between,
        space-around,
        space-evenly,
        center,
        flex-start,
        flex-end
);

@each $justify, $value in $justifies {
  .flex-j-#{$justify} {
    justify-content: $value;
  }
}


$alignment: (
        center,
        flex-start,
        flex-end
);

@each $align, $value in $alignment {
  .flex-a-#{$align} {
    align-items: $value;
  }
}