@import "colors";

.border {
  border-width: 1px;
}

body .bs-dashed {
  border-style: dashed;
}

@include eachColor() using($name, $value) {
  .border-#{$name} {
    border-color: $value;
  }

  .border-bottom-#{$name} {
    border-bottom-color: $value;
  }

  .border-top-#{$name} {
    border-top-color: $value;
  }

  .border-left-#{$name} {
    border-left-color: $value;
  }

  .border-right-#{$name} {
    border-right-color: $value;
  }
}


$radiusSizes: (
        0: 0,
        1: 2px,
        2: 5px,
        3: 10px,
        4: 15px,
        5: 25px,
        6: 50px,
        round: 50%
);

@each $name, $radius in $radiusSizes {
  body .border-radius-#{$name} {
    border-radius: $radius;
  }
}