@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "colors";

$defaultFontSize: 1rem;
$defaultFontColor: #EEE;

/* Basics */
:root {
  font-size: $defaultFontSize;
  color: $defaultFontColor;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Lato', Arial, serif;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/* Alignment */
.fa-left {
  text-align: left;
}

.fa-center {
  text-align: center;
}

.fa-right {
  text-align: right;
}

.fa-justify {
  text-align: justify;
}


/* Weights */
$weights: (
        light: 300,
        regular: 400,
        bold: 700
);

@each $name, $weight in $weights {
  .fw-#{$name} {
    font-weight: $weight;
  }
}


/* Colors */
@include eachColor() using($name, $value) {
  .fc-#{$name} {
    color: $value;
  }
}


/* Links */
.link {
  text-decoration: underline;
  cursor: pointer;
}


/* Headings */
$headingSizes: (
        1: 1.25rem,
        2: 1.5rem,
        3: 1.75rem,
        4: 2rem,
        5: 2.25rem,
        6: 2.5rem,
        7: 2.75rem,
        8: 3rem,
        9: 4rem,
        10: 5rem
);

@each $name, $size in $headingSizes {
  .heading-#{$name} {
    font-size: $size;
  }
}