/* IMPORTS */

@import "utilities/layout/breakpoints";
@import "utilities/layout/container";
@import "utilities/layout/flex";

@import "utilities/colors";
@import "utilities/borders";
@import "utilities/spacing";
@import "utilities/display";
@import "utilities/font";
@import "utilities/shadows";
@import "utilities/width";

@import "utilities/components/accordion";
@import "utilities/components/alert";
@import "utilities/components/badge";
@import "utilities/components/button";
@import "utilities/components/card";
@import "utilities/components/diagonal-section";
@import "utilities/components/dot";
@import "utilities/components/image-card";
@import "utilities/components/popup";
@import "utilities/components/tooltip";
@import "utilities/components/placeholder";
@import "utilities/components/blank";
@import "utilities/components/progress";
@import "utilities/components/tabs";

@import "utilities/components/forms/input";


/* BASE & NORMALIZATION */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @extend .fc-white-darker;
}

::before, ::after {
  box-sizing: inherit;
}

:root {
  @extend .fsi-regular;
}

html, body {
  @extend .bg-dark-darker;
}

h1, h2, h3, h4,h5, h6 {
  @extend .heading;
}

a {
  color: inherit;
  text-decoration: none;
}