@import "../../spacing";
@import "../../borders";
@import "../../font";
@import "../../colors";

/* STANDARD */
.form-input {
  overflow: hidden;
  display: block;
  width: 100%;

  @extend .border-radius-2;
  @extend .border;
  @extend .border-gray-dark;

  @extend .bg-gray;
  @extend .pt-1;

  transition-duration: .225s;

  &:hover {
    cursor: text;
  }

  &:hover, &:focus-within {
    background-color: transparentize(lighten(map-get($main, "main-light"), 15), .75);

    @extend .border-main;

    label {
      @extend .fc-dark-darker;
    }
  }

  label {
    display: block;

    @extend .fsi-regular;
    @extend .fc-gray-lighter;
    @extend .mb-1;
    @extend .ml-2;

    @extend .fs-underline;

    transition-duration: .225s;

    &:hover {
      cursor: text;
    }
  }

  input, textarea {
    display: block;
    width: 100%;
    outline: none;

    @extend .fc-main;
    background-color: transparent;

    @extend .px-2;
    @extend .pb-1;

    @extend .fsi-large;

    background-clip: padding-box;

    appearance: none; // Fix for safari

    border: none;
    transition-duration: .225s;

    &:focus {
      @extend .fc-main-darker;
    }

    &::selection {
      @extend .bg-main-lightest;
    }
  }

  textarea {
    resize: vertical;
    font-family: inherit;
    transition: resize 0s;
    min-height: 10vh;
    max-height: 45vh;
  }
}

@include eachColor() using($name, $color) {
  html body .form-input-#{$name} {
    @extend .form-input;
    color: $color;

    &:hover, &:focus-within {
      background-color: transparentize(lighten($color, 5), .425);

      @extend .border-#{$name};

      label {
        @extend .fc-dark-darker;
      }
    }

    input, textarea {
      color: $color !important;
      font-family: inherit;

      &:focus {
        color: darken($color, 25) !important;
      }

      &::selection {
        background-color: transparentize(lighten($color, 15), .75);
      }
    }
  }
}